.greet {
    font-size: 15px;
  }
  
  .logout {
    font-size: 20px;
    cursor: pointer;
  }
  
  h1 {
    color: #00473e;
    font-size: 40px;
    font-weight: bolder;
  }
  
  .h1-div {
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 1000;
  }
  
  .form {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 0 4px 12px #00332c;
    margin-top: 10px;
  }
  
  .all-links-container {
    overflow-y: scroll;
    max-height: 400px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 5, 0.2);
    margin: 0;
    border-radius: 20px;
    padding: 10px;
  }
  
  .input-fields {
    width: 100%;
    margin-top: 20px;
  }
  
  .input-fields:focus,
  .input-fields:active {
    outline: none;
  }
  
  .btn {
    background-color: #ffd803;
    border: none;
    border-radius: 30px;
    color: #272343;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #e69500;
  }
  
  .login-link {
    margin: 0 10px;
  }
  