.main-container-parent {
  display: block;
  justify-content: space-around;
  
}
.auth-heading {
    text-align: center;
    color: #00473e;
    font-size: 40px;
    font-weight: bolder;
  }
 
  .form {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 0 4px 12px #00332c;
    height: auto;
    margin-top: 10px;
  }

  .input-fields {
    display: block;
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid #363232;
    border-radius: 10px;
  }
  
  .input-fields:focus, .input-fields:active {
    outline: none;
  }
  
  .btn {
    display: block;
    width: 60%;
    padding: 12px;
    margin: 50px auto;
    background-color: #ffd803;
    border: none;
    border-radius: 30px;
    color: #272343;
    cursor: pointer;
    
  }
  
  .btn:hover {
    background-color: #e69500;
  }
  
  .login-link {
    margin: 10px 10px;
  }
  